<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/avatar.css" />
    <title>Put Number</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">Choose your avatar and name</div>
      <div class="avatar_cont"></div>
      <input type="text" placeholder="Enter your name" />
      <a href="./main.html" class="green block">Enter</a>
    </div>
    <script src="../scripts/avatar.js"></script>
  </body>
</html>
