<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Put Number</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="balance_field block"></div>
      <div class="avatar_cont">
        <img alt="avatar">
        <div class="name"></div>
      </div>
      <a href="./game.html" class="play">
        <img src="../png/button_main.png" alt="play" />
      </a>
    </div>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
